@using SL.Web.Service
<div class="header">
    <div class="header_bg"></div>
    <div class="header_con clearfix"><a href="@Url.Content("~/")"><img class="logo png" src="@Url.Content("/theme/images/logo.png")" /></a>
        <ul class="header_user">
            <li class="header_user_nav"><i class="png"></i>
                @if (UserService.IsLogin())
                { 
                    <text><a href="/usercenter.html" class="">个人中心</a></text>
                }
                else
                {
                    <text><a class="js_nav_login" href="javascript:;">登录</a> / <a class="js_nav_login" href="javascript:;">注册</a></text>
                }
            </li>
            <li class="header_phone"><i class="png"></i>400123123</li>
        </ul>
    </div>
    <div class="nav">
        <ul class="clearfix" data-name="nav">
            <li class="@(Model == "home" ? "curr" : "")"><a href="/">首页</a></li>
            <li class="@(Model == "news1" ? "curr" : "")"><a href="/NewsList/1.html">关于我们</a></li>
            <li class="@(Model == "lessons" ? "curr" : "")"><a href="/lessons.html">课程展示</a></li>
            <li class="@(Model == "teachers" ? "curr" : "")"><a href="/teachers.html">名师介绍</a></li>
            <li class="@(Model == "news2" ? "curr" : "")"><a href="/NewsList/2.html">GK Youth</a></li>
            <li class="@(Model == "news3" ? "curr" : "")"><a href="/NewsList/3.html">最新资讯</a></li>
            <li  class="@(Model == "news4" ? "curr last" : "last")"><a href="/NewsList/4.html">帮助中心</a></li>
        </ul>
    </div>
</div>
