@{
    var data = SL.Data.SQL.Query("select LessonID,LessonName,Cover,Description,Sort from Lesson order by Sort desc");
    if (data != null)
    {
        data.All(a =>
        {
            a.Cover = SL.Util.RequestFile.FullUrl(a.Cover);
            return true;
        });
    }

    ViewBag.Title = "课程介绍";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="headerwrap">
    <div style="width:100%;background: url(@Url.Content("~/Theme/Images/Lessons.jpg")) no-repeat center center;height:542px; position:absolute; "></div>
    @Html.Partial("_Header", "lessons")
</div>
<div class="main">
    @if (data != null && data.Count != 0)
    {
        var item = data.FirstOrDefault();
        <div class="lesson_info clearfix js_info" data-id="@item.LessonID">
            <div class="img"><img src="@item.Cover" /> </div>
            <div class="info"><p class="name">@(new MvcHtmlString(item.Title))</p>
                <p class="con">@(new MvcHtmlString(item.Description))</p>
                <p class="action"><input class="btn js_start" data-id="@item.LessonID" type="button" value="立即预约"></p>
            </div>
        </div>
    }
    <div class="lesson_list js_list">
        @if (data == null || data.Count == 0)
        {
            <text><div style="padding: 50px; text-align: center;">暂无课程</div></text>
        }
        else
        {
            <ul>
                @foreach (var item in data)
                {
                    <li data-id="@item.LessonID" data-src="@item.Cover"><p class="img"><img src="@item.Cover" /></p>
                        <p class="name">@(new MvcHtmlString(item.Title))</p>
                        <p class="con">@(new MvcHtmlString(item.Description))</p>
                    </li>
                }
            </ul>
        }
    </div>
</div>
<script>
    seajs.use(['jquery','site/user'],function ($,user) {

        user.loading('.js_start',function () {
            var $btn=this;

            return {
                url: '/json/user/islogin',
                success: function (res) {
                    if(!res.isLogin) {
                        user.showLogin();
                    } else {

                        location.href="/schedule.html?lessonid="+$btn.data('id');
                    }
                }
            }
        });

        $('.js_list').on('click','[data-id]',function (e) {
            var $target=$(e.currentTarget),
                $info=$('.js_info'),
                id=$target.data('id');


            if(id!=$info.data('id')) {
                $('.js_start').data('id',id);
                $info.data('id',id);
                $info.find('img').attr('src',$target.data('src'));
                $info.find('.name').html($target.find('.name').html());
                $info.find('.con').html($target.find('.con').html());
            }

        });
    });
</script>
